* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  display: flex;
  height: 100vh;
}

h6 {
  color: #bec1bb;
}

.container {
  display: flex;
  width: 100%;
}

/* Sección de Contactos */
.contacts-section {
  flex: 0 0 15%; /* Tamaño fijo para la columna de contactos */
  border-right: 1px solid #ddd;
  display: flex;
  flex-direction: column;
  padding: 1rem;
}

.user-status {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0.5rem; /* Espacio entre los elementos */
  padding: 0 0 0.5rem 0;
}

.user-status img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 0.5rem;
}

.user-status div {
  flex-grow: 1;
}

.user-status-icons {
  display: flex;
  gap: 0.5rem;
  color: #bec1bb;
}

.user-status-icons img {
  width: 24px;
  height: 24px;
  cursor: pointer;
}

.contacts-list {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.contacts-list li {
  display: flex;
  align-items: center;
  padding: 0.5rem 0;
  border-bottom: 1px solid #ddd;
  justify-content: start;
}

.contacts-list li img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 0.5rem;
}

.new-chat {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 3rem 0;
  border-bottom: 1px solid #ddd;
  border-top: 1px solid #ddd;
}

.new-chat button {
  padding: 0.75rem 1.5rem;
  background-color: #9b72c1;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

/* Sección Principal */
.main-section {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  padding: 2rem;
}

.main-section img {
  width: 150px;
  height: 150px;
  margin-bottom: 1rem;
}
